<!--
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
											Menu 
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
-->
<header class="col-md-12">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6"> 
				<img src="../../assets/logo.png" class="logoImg" alt="folio" title="folio" /> 
			</div>
			<nav class="col-md-6 ">
				<ul class="nav float-right">
					<li class="nav-item">
						<a id="menu_element"  href="index.html">ACCUEIL</a>
					</li>
					<li class="nav-item">
						<a id="menu_element"  href="boutique.html">BOUTIQUE</a> 
					</li>
					<li class="nav-item">
						<a id="menu_element"  href="contact.html">NOUS CONTACTER</a> 
					</li>
				</ul>
			</nav>
		</div>
	</div>
</header>
<!--
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
											Formulaire 
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
-->
<div class="container">
    <h1>Commander</h1>
    <form>
      <div class="form-group">
        <label for="firstname">Prénom</label>
        <input type="text" class="form-control" id="firstname" required>
      </div>

      <div class="form-group">
        <label for="lastname">Nom</label>
        <input type="text" class="form-control" id="lastname">
      </div>

      <div class="form-group">
        <label for="address">Adresse</label>
        <input type="text" class="form-control" id="address">
      </div>

      <div class="form-group">
        <label for="postalcode">Code postal</label>
        <input type="text" class="form-control" id="postalcode">
      </div>

      <div class="form-group">
        <label for="city">Ville</label>
        <input type="text" class="form-control" id="city">
      </div>

      <button type="submit" class="btn btn-success">Submit</button>

    </form>
</div>