<header class="col-md-12">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6"> 
                <img src="../../assets/logo.png" class="logoImg" alt="folio" title="folio" /> 
            </div>
            <nav class="col-md-6 ">
                <ul class="nav float-right">
                    <li class="nav-item">
                        <a id="menu_element"  [routerLink]="['/index']" routerLinkActive="router-link-active" >ACCUEIL</a>
                    </li>
                    <li class="nav-item">
                        <a id="menu_element" [routerLink]="['/boutique']" routerLinkActive="router-link-active">BOUTIQUE</a> 
                    </li>
                    <li class="nav-item">
                        <a id="menu_element"  [routerLink]="['/contact']" routerLinkActive="router-link-active">NOUS CONTACTER</a> 
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<!--
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
                                                Menu 
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
-->
<div class="container-fluid boutique">
    <div class="row">
<article class="col-md-9">
    <h1>> Galerie</h1>
        <div class="row">
            <div class="col-md-3">
                <img src="../../assets/folio_1.jpg" class="img-fluid rounded"alt="folio 1" title="folio1" />
                <p id="textImage">Ref. 12345_1 - 4,99€</p>
            </div>
            <div class="col-md-3">
                <img src="../../assets/folio_2.jpg" class="img-fluid rounded" alt="folio 2" title="folio2" />
                <p id="textImage">Ref. 12345_2 - 3,99€</p>
            </div>
            <div class="col-md-3">
                <img src="../../assets/folio_3.jpg" class="img-fluid rounded" alt="folio 3" title="folio3" />
                <p id="textImage">Ref. 12345_3 - 7,99€</p>
            </div>
            <div class="col-md-3">
                <img src="../../assets/folio_4.jpg" class="img-fluid rounded"alt="folio 4" title="folio4" />
                <p id="textImage">Ref. 12345_4 - 2,99€</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <img src="../../assets/folio_1.jpg" class="img-fluid rounded"alt="folio 1" title="folio1" />
                <p id="textImage">Ref. 12345_1 - 4,99€</p>
            </div>
            <div class="col-md-3">
                <img src="../../assets/folio_2.jpg" class="img-fluid rounded" alt="folio 2" title="folio2" />
                <p id="textImage">Ref. 12345_2 - 3,99€</p>
            </div>
            <div class="col-md-3">
                <img src="../../assets/folio_3.jpg" class="img-fluid rounded" alt="folio 3" title="folio3" />
                <p id="textImage">Ref. 12345_3 - 7,99€</p>
            </div>
            <div class="col-md-3">
                <img src="../../assets/folio_4.jpg" class="img-fluid rounded"alt="folio 4" title="folio4" />
                <p id="textImage">Ref. 12345_4 - 2,99€</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <img src="../../assets/folio_1.jpg" class="img-fluid rounded"alt="folio 1" title="folio1" />
                <p id="textImage">Ref. 12345_1 - 4,99€</p>
            </div>
            <div class="col-md-3">
                <img src="../../assets/folio_2.jpg" class="img-fluid rounded" alt="folio 2" title="folio2" />
                <p id="textImage">Ref. 12345_2 - 3,99€</p>
            </div>
            <div class="col-md-3">
                <img src="../../assets/folio_3.jpg" class="img-fluid rounded" alt="folio 3" title="folio3" />
                <p id="textImage">Ref. 12345_3 - 7,99€</p>
            </div>
            <div class="col-md-3">
                <img src="../../assets/folio_4.jpg" class="img-fluid rounded"alt="folio 4" title="folio4" />
                <p id="textImage">Ref. 12345_4 - 2,99€</p>
            </div>
        </div>
    </article>

    <div class="col-md-3">
        <div class="row">
            <div class="col-md-12">
                <h1>> Panier</h1>
                <div id = "panier_element"> 
                    <div class="col-md-12"> 
                        <a class="col-md-*"><strong>+</strong> 12345_1</a>
                        <a  class="col-md-* float-right">4,99€</a>
                    </div>
                    <div class="col-md-12"> 
                        <a class="col-md-*"><strong>+</strong> 12345_2</a>
                        <a  class="col-md-* float-right">3,99€</a>
                    </div>
                    <div class="col-md-12"> 
                        <a class="col-md-*"><strong>+</strong> 12345_3</a>
                        <a  class="col-md-* float-right">7,99€</a>
                    </div>
                    <div class="col-md-12"> 
                        <a class="col-md-*"><strong>+</strong> 12345_4</a>
                        <a  class="col-md-* float-right">2,99€</a>
                    </div>
                <hr class="col-md-12">
                <div class="col-md-12"> 
                    <a class="col-md-* "><strong>&#62; Total</strong></a>
                    <a class="col-md-* float-right"><strong>19,96€</strong></a>
                </div>
                <div class="col-md-12">
                    <button name="boutton" class="float-right">Commander</button>
                </div>
            </div>
        </div>
    </div>
    </div>