<header class="col-md-12">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6"> 
                <img src="../../assets/logo.png" class="logoImg" alt="folio" title="folio" /> 
            </div>
            <nav class="col-md-6 ">
                <ul class="nav float-right">
                    <li class="nav-item">
                        <a id="menu_element"  [routerLink]="['/index']" routerLinkActive="router-link-active" >ACCUEIL</a>
                    </li>
                    <li class="nav-item">
                        <a id="menu_element" [routerLink]="['/boutique']" routerLinkActive="router-link-active">BOUTIQUE</a> 
                    </li>
                    <li class="nav-item">
                        <a id="menu_element"  [routerLink]="['/contact']" routerLinkActive="router-link-active">NOUS CONTACTER</a> 
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<!--
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
                                                Menu 
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
-->
<div class="container-fluid boutique">
    <div class="row">
<article class="col-md-9">
    <h1>> Galerie</h1>
        <div class="row">
            <div class="col-md-3"  *ngFor="let album of albums | async">
                <img src={{album.url}} class="img-fluid rounded" />
                <p id="textImage">{{album.ref}} - {{album.price}}€</p>
                <button type="button" class="btn btn-primary" (click)="product(album.ref,album.price)">Ajouter</button>
            </div>
        </div>
      
        
    </article>

    <div class="col-md-3">
        <div class="row">
            <div class="col-md-12">
                <h1>> Panier</h1>
                <div id = "panier_element" > 
            
                    <div class="col-md-12" *ngFor="let product of products" > 
                        <a class="col-md-*"><strong>+</strong>{{product}}</a>
                        <a  class="col-md-* float-right" ></a>
                    </div>
            </div>
                <hr class="col-md-12">
                <div class="col-md-12"> 
                    <a class="col-md-* "><strong>&#62; Total</strong></a>
                    <a class="col-md-* float-right"><strong>{{price}}</strong></a>
                </div>
                <div class="col-md-12">
                    <button type="button" class="btn btn-primary" (click)="delete()">Vider mon panier</button>
                    <button name="boutton" [routerLink]="['/commander']" class="float-right">Commander</button>
                </div>
            </div>
        </div>
    </div>
    </div>
