<header class="col-md-12">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6"> 
                <img src="img/logo.png" class="logoImg" alt="folio" title="folio" /> 
            </div>
            <nav class="col-md-6 ">
                <ul class="nav float-right">
                    <li class="nav-item">
                        <a id="menu_element"  href="index.html">ACCUEIL</a>
                    </li>
                    <li class="nav-item">
                        <a id="menu_element"  href="boutique.html">BOUTIQUE</a> 
                    </li>
                    <li class="nav-item">
                        <a id="menu_element"  href="contact.html">NOUS CONTACTER</a> 
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>